.base-select {
  position: relative;

  &--error {
    .base-select__inner {
      border-color: $error !important;

      &-text {
        color: $error;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &__inner {
    position: relative;
    height: 3.5rem;
    border: 1px solid $border-color;
    background-color: $background-color;
    width: 100%;
    text-align: left;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    transition: all $time;
    display: flex;
    align-items: center;
    outline: none;

    &:focus {
      border-color: $primary;
    }

    &-text {
      font-size: 1rem;
      width: calc(100% - 1.5rem - 1rem);
      transition: all $time;
    }

    &-icon {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      transition: transform $time;

      &--is-active {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  &-list {
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    width: 100%;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    max-height: 320px;
    overflow: auto;
    transition: all $time;
    z-index: 1;

    &__option {
      display: block;
      width: 100%;
    }

    &__button {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: all $time;
      cursor: pointer;

      &:hover,
      &:focus,
      &--is-selected {
        background-color: $background-color--darker;
      }

      &--is-disabled {
        opacity: 0.7;
      }

      &--is-selected {
        font-weight: 500;
      }
    }
  }

  &__error {
    position: absolute;
    color: $error;
    font-size: 0.75rem;
    width: 100%;
    padding: 0.25rem 0 0 0.75rem;
  }
}
