// Primary
$primary:  #111111;

// Texts
$text-color: #111111;
$text-color--accent: #757575;
$text-color--reversed: #FFFFFF;
$text-color--disabled: #dddddd;

// Layout
$background-color:#FFFFFF;
$background-color--medium: #f7f7f7;
$background-color--darker:#f5f5f5;
$border-color: #e5e5e5;

// UI events
$success: #41a139;
$warning: #fa5400;
$error: #d43f21;

// Timings
$time: 0.2s;
$time--medium: 0.3s;
$time--long: 0.6s;
