.product-details {
  position: relative;

  &__label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: $warning;
  }

  &__name {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
    letter-spacing: 0.007em;
    margin: 0 0 0.25rem 0;
  }

  &__sub-header {
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
  }

  &__add-to-bag {
    margin: 0 0 4.5rem 0;
    padding: 1.1rem 1.5rem;
    border-radius: 1.875rem;
    width: 100%;
  }

  &__price {
    margin: 1rem 0 2.75rem;
  }

  &__description {
    p {
      line-height: 1.75;
    }

    ul {
      list-style-type: disc;
      padding: 1.5rem 0 1.5rem 1.2rem;
    }
  }
}